*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

main{
    width: 85%;
    margin: 0 auto;ù
    
}

.title{
    text-align: center;
}

.email{
    color: rgb(16, 132, 153);
    font-size: 15px;
}

h1{
    color: rgb(160, 11, 86);
    margin: 2rem 2rem;
    font: 1.2em "arial black";
}

h2{
    display: inline-block;
}

.float-left{
    float: left;
}

div.column-third{
    border: 6px white solid;
    height: 100px;
    width: 33.33%;
    margin-top: 2rem;
    background-color: rgb(1, 1, 19);
}

img{
    height: 88px;
    margin-right: 0.7rem;
}

#name{
    color: white;
    padding-top: 0.7rem;
    margin-left: 0.7rem;
    line-height: 25px;
}